<h3>Welcome to your dashboard<a class="btn btn-default pull-right" ui-sref=".orders_list"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; Orders</a></h3>
 <div ng-controller="ProductController">
  <table class="table table-hover table-striped table-bordered">
    <thead align="center">
        <tr class="info">
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Place Order</td>
        </tr>
    </thead>
    <tbody align="center">
        <tr ng-repeat="product in products">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><a ui-sref=".placeOrder({ id : product.id  })"> 
                    <button  class="btn"  class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                     </button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div ui-view="ordercontainer"></div>