<script type="text/ng-template" id="PlaceOrderModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Place Order</h3>
  </div>
 <div class="row">
    <div class="col-md-11">
      <table  class="table table-striped">
        <tr>
          <td><p class="pull-right">Do you want Order this product?</p></td>
          <td><button type="submit" class="btn btn-info" ng-click="place_order()">Order Now</button>
              <button type="button" class="btn btn-warning" ng-click="cancel()">Close</button></td>
        </tr>
      </table>
    </div>
  </div>
</script>
