<script type="text/ng-template" id="DeleteModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Delete Product </h3>
  </div>
  
<div class="row">
    <div class="col-md-12">
              <table  class="table table-striped">
                <tr>
                  <td><p>Do you want delete this product?</p></td>
                  <td><button type="submit" class="btn btn-danger" 
                   ng-click="delete()">Delete</button>
                  <button type="button" class="btn btn-success"  
                  ng-click="cancel()">Close</button></td>
                </tr>
              </table>
          </div>
      </div>
</script>
