<h3>Welcome to your dashboard<a class="btn btn-default pull-right" ui-sref=".create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create new</a></h3>
  <table class="table table-hover table-striped table-bordered">
    <thead align="center">
        <tr class="info">
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody align="center">
        <tr ng-repeat="product in products">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><a ui-sref=".edit({ id : product.id  })"> 
                    <button  class="btn"  class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                </a>
            </td>
            <td><a ui-sref=".delete({ id : product.id  })" >
                    <button  class="btn"  class="btn btn-primary btn-lg">
                       <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div ng-hide="products.length > 0">
    <div class="alert alert-info" role="alert"><center>No Products Found</center></div>
</div>
</div>
<div ui-view="container"></div>
<div ui-view="container_edit"></div>